@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&family=Roboto:wght@400;500&display=swap');

$font-primary:'Poppins', sans-serif;
$font-secondary:'Open Sans', sans-serif;


$header-bg: #0f1012;
$color:#ffff;